@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;402;700&display=swap');


* {
   box-sizing: border-box; 
}

body {
    background-color:hsl(0, 0%, 100%);
    font-size:16px;
}
.content-wrapper {
width: 80%;
margin: auto;
}
nav {
    width: 100%;
    height:90px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 2px 0px hsl(240, 0%, 60%);
    display:flex;
    left:10%;
    right:10%;
}
.nav-brand {
    position:relative;
    top: 30px;
    width: 150px;
    height:30%;
    margin-left:50px;
}
#nav-logo {
    position:relative;
   width: 150px;
   height: 50px;
   top:15%;
   left:30px;
}

.nav-ul {
    list-style-type: none;
    position:relative;
    display:flex;
    top:22%;
    font-family: 'Kumbh Sans', sans-serif;
}
.nav-item {
    margin-right:30px;
    height:95%;
}
.nav-item:hover {
    border-bottom: 3px solid orange;    
}

.nav-item a {
    color: hsl(219, 9%, 45%);   
}
.nav-item a:hover {
    cursor: pointer;
    color: hsl(0, 0%, 0%);   
}

.right-row {
    width: 250px;
    margin-left:200px;
}

.right-row img {
    margin-right:20px;
}

#cart-icon {
    top:20%;
    height:20px;
    width:20px;
}
#customer-image {
   
    top:30%;
    height:40px;
    width:40px;
    margin-left:20px;
}

#customer-image:hover {
    border:2px solid orange;
    cursor:pointer;
    border-radius: 50%;
}

#cartCount:before{
    content:attr(data-num);
    position:absolute;
    width:17px;
    height:17px;
    border-radius:50%;
    background:orangered;
    color:white;
    text-align:center;
    line-height: 17px;
    font-size:11px;
    transform:translate(13px,5px);
}
#cartCount {
    top:50%;
}
.flex {

    display:flex;
  
}
.flex > div {
    flex:1;
    margin: 30px;
    
}

section {
    padding-top:60px;
}

.productSlides {
    display:none; 
}
.productSlides > img {
    border-radius:5%;
}

.cursor {
    cursor:pointer;
}
.row {
    margin:0 auto;
    display: flex;
    width:100%;
    justify-content: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.column {
    margin:10px;
    float: left;
    width: 16.66%;
  }
.column:not(last-child)
{
    margin-right: 20px;
}
.column:first-child {
    margin-left: 10px;
}

.thumbnail {
    border-radius: 20%;
}

.thumbnail:hover {
    opacity: 0.6;
    border: 3px solid orangered;
}


.lightbox {
    position:relative;
    border:2px solid yellow;
}
.product-info {
    padding-top: 50px;
}
.row-text {
    padding:0;
}
.sneaker-company {
    display:flex;
    height: 50px;
    align-items:flex-end;
    text-transform: uppercase;
    font-size:16px;
    letter-spacing: 0.1rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    color:orange;
}

.row-text > h1 {
    padding-top:20px;
    font-size:38px;
    font-family: 'Kumbh Sans', sans-serif;
    color:hsl(228, 3%, 29%);
    margin-top:0;
    letter-spacing: 0.1rem;
    line-height:2.8rem;
}

.product-description {
    font-size:16px;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(219, 9%, 45%);
}

.row-price {
    display:flex;
    margin-bottom: 10px;
}

.discounted-price {
    font-size:22px;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 0%, 2%);
    font-weight: 700;
    margin-right:20px;
}

.percent-discount {
background-color: rgb(250, 218, 158);
color:orange;
font-size: 16px;
font-weight: 700;
font-family: 'Kumbh Sans', sans-serif;
padding:3px;
width:40px;
border-radius:15%;
}

#old-price {
   font-size: 14px;
   font-family: 'Kumbh Sans', sans-serif;
   font-weight: bold;
   color: hsl(225, 2%, 60%);
    text-decoration: line-through;
}

.row-btn-group {
    margin-top: 50px;
    display:flex;
    font-size: 22px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    height:40px;
}

#btn-plus, #btn-minus {
    width: 10%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight:bold;
    font-size: 20px;
}
#btn-addtocart {
    margin-left: 40px;
    width:30%;
    background-color: orange;
    font-size:16px;
    font-weight: bold;
    color:white;
}
.count {
    padding: 3px;
}
